Comment form:

<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form)   }}
    <button type="submit">Submit</button>
</form>